[submodule "playbooks/roles/postgresql"]
	path = playbooks/roles/postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql
[submodule "playbooks/roles/postfix"]
	path = playbooks/roles/postfix
	url = https://github.com/geerlingguy/ansible-role-postfix.git
