[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql
[submodule "roles/postfix"]
	path = roles/postfix
	url = https://github.com/geerlingguy/ansible-role-postfix.git
[submodule "roles/jenkins"]
	path = roles/jenkins
	url = https://github.com/geerlingguy/ansible-role-jenkins.git
[submodule "roles/tomcat"]
	path = roles/tomcat
	url = https://github.com/robertdebock/ansible-role-tomcat.git
[submodule "roles/robertdebock.bootstrap"]
	path = roles/robertdebock.bootstrap
	url = https://github.com/robertdebock/ansible-role-bootstrap
[submodule "roles/robertdebock.core_dependencies"]
	path = roles/robertdebock.core_dependencies
	url = https://github.com/robertdebock/ansible-role-core_dependencies
[submodule "roles/robertdebock.java"]
	path = roles/robertdebock.java
	url = https://github.com/robertdebock/ansible-role-java
[submodule "roles/robertdebock.service"]
	path = roles/robertdebock.service
	url = https://github.com/robertdebock/ansible-role-service
